events {
    worker_connections  16;
}
http {
    server {
        listen 80;
        server_name ${SERVER_NAME};
        location /c1/ {
            proxy_pass ${URL_C1};
        }
        location /c2/ {
            proxy_pass ${URL_C2};
            
        }
    }
}

